# Pima Data cleaning

In [3]:
# Import Modules Here
import pandas as pd

## Part 1: Read the Data into Jupyter

In [5]:
# Read the data into a dataframe named pima_df.
pima_df = pd.read_csv('diabetes_uncleaned_data.csv')
# YOUR CODE HERE
pima_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
3,11.0,132.0,83,11,376,4.1,2.772,NaN,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE

In [6]:
pima_df.shape

(1004, 9)

## Part 2: Missing Data

In [8]:
#Question 1:  Find Columns with missing data
# YOUR CODE HERE
pima_df.isna().sum()

Pregnancies                 114
Glucose                      16
BloodPressure                22
SkinThickness                 0
Insulin                       0
BMI                           1
DiabetesPedigreeFunction      0
Age                          22
Outcome                       0
dtype: int64

In [9]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
# YOUR CODE HERE
pima_missing_fixed_df = pima_df.dropna(how='any')

In [10]:
# Question 3:  Print out the number of rows in the dataframe.
# YOUR CODE HERE
pima_missing_fixed_df.shape[0]

840

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

When data is missing in a row for a single cell but not all of them it could still represent a larger picture. By doing how ='any' you are potentially removing valuable data in other categories/columns.

## Part 3: Duplicated Data

In [13]:
# Question 1: find the rows of duplicated data in the pima_missing_fixed_df and print them. 
pima_missing_fixed_df[pima_missing_fixed_df.duplicated()]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [14]:
# Question 2: Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
pima_dedupped_df = pima_missing_fixed_df.drop_duplicates()

In [15]:
# Question 3:  Print out the number of rows in the dataframe.
pima_dedupped_df.shape[0]

836

### Question 4:  In your jupyter notebook, discuss why this could be a problem.
### What other methods could you use in this situation? 

Dropping the duplicated data could be a problem because it is hard to know if the duplication is user input error or if the same data values have been collected twice from separate individuals/sources. You could potentially be getting rid of valid data points that would impact the mean, median, mode etc.

## Part 4: Mis-typed Columns/Broken Data

In [18]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
pima_dedupped_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE

In [19]:
pima_dedupped_df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure                object
SkinThickness                 int64
Insulin                       int64
BMI                          object
DiabetesPedigreeFunction    float64
Age                         float64
Outcome                      object
dtype: object

In [20]:
bmi_max = pima_dedupped_df.BMI.max()
bmi_min = pima_dedupped_df.BMI.min()
print(bmi_max)
print(bmi_min)

Error
0.2

In [21]:
bp_max = pima_dedupped_df.BloodPressure.max()
bp_min = pima_dedupped_df.BloodPressure.max()
print(bp_max)
print(bp_min)

Error
Error

In [22]:
# Question 2: Remove the rows with data errors
data_errors = (pima_dedupped_df.BloodPressure == 'Error') | (pima_dedupped_df.BMI == 'Error') | (pima_dedupped_df.Outcome == 'ERROR')
pima_fixed_columns_df = pima_dedupped_df[~data_errors].copy()
pima_fixed_columns_df.Outcome.value_counts()

Outcome
FALSE    441
TRUE     391
Name: count, dtype: int64

In [23]:
# Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df.
pima_fixed_columns_df['BloodPressure'] = pima_fixed_columns_df.BloodPressure.apply(lambda x: int(x))
pima_fixed_columns_df['BMI'] = pima_fixed_columns_df.BloodPressure.apply(lambda x: float(x))
pima_fixed_columns_df.Outcome.value_counts()

Outcome
FALSE    441
TRUE     391
Name: count, dtype: int64

In [24]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_fixed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 832 entries, 0 to 1001
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               832 non-null    float64
 1   Glucose                   832 non-null    float64
 2   BloodPressure             832 non-null    int64
 3   SkinThickness             832 non-null    int64
 4   Insulin                   832 non-null    int64
 5   BMI                       832 non-null    float64
 6   DiabetesPedigreeFunction  832 non-null    float64
 7   Age                       832 non-null    float64
 8   Outcome                   832 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 65.0+ KB

## Part 5: Outlier Detection and Removal

In [52]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.
def is_outlier(column: pd.Series):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return ~column.between(lower_bound, upper_bound)

In [54]:
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Pregnancies'])]
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['BloodPressure'])]
pima_fixed_columns_df[is_outlier(pima_fixed_columns_df['Insulin'])]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,13.0,151.0,107,38,10000,107.0,0.507,148.0,FALSE

In [56]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
outliers = is_outlier(pima_fixed_columns_df.Pregnancies) | is_outlier(pima_fixed_columns_df.BloodPressure) | is_outlier(pima_fixed_columns_df.Insulin)
pima_outlier_removed_df = pima_fixed_columns_df[~outliers]

In [58]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
pima_outlier_removed_df.shape[0]

828